{{#unless showLife}}
  {{firstDigit}}{{secondDigit}}{{#if decimal}}{{#if showDecimal}}.{{/if}}{{if showDecimalValue decimal}}{{/if}}
  {{#if yearsText}}
    <div class="years-text">{{yearsText}}</div>
  {{/if}}
{{else}}
  life
{{/unless}}
