
<div class="center">

  <div class='lego-house'>

    <div class='chunk one'></div>
    <div class='chunk two'></div>
    <div class='chunk three'></div>
    <div class='chunk four'></div>
    <div class='chunk five'></div>
    <div class='chunk six'></div>

    <div class='crime-w'>
      <div class='crime'>
        <header>
          <div class='number'>{{model.id}}</div>
          <div class='name'>The Crime</div>
        </header>
        <div class='charge'>
          {{model.charge.description}}
        </div>
      </div>
      <footer>
        <div class='location'>
          <span>Location</span>
          {{model.location}}
        </div>
        <div class='priors'>
          <span>Priors</span>
          {{happy-bool model.priors}}
        </div>
      </footer>

      <section class="overview">
        {{{model.charge.overview}}}
      </section>

      <section class='prompt'>
        <p>{{model.charge.prompt}}</p>
      </section>

    </div>

  </div>

  <div class='range-w'>
    <header>
      <h2>{{model.charge.selectedValue}}</h2>
    </header>
    <footer>
      {{input
        type='range'
        class='range-slider'
        name='range'
        min=0
        max=model.charge.max
        step=model.charge.step
        value=model.charge.selectedValue
      }}
    </footer>
  </div>

  {{#if valueSelected}}

    <footer class='button-w'>
      {{next-button destination='experience.story.1.sentence' sound='jail-door'}}
    </footer>

  {{/if}}


</div>
