


{{!-- <div class='center page'>
  
  <header>
    <h1 class='visually-hidden'>Index</h1>

    <h2>boxes here...</h2>
  </header>

  <footer>
    {{next-button text='Black box should animate to black screen and begin experience...' action='transitionToWelcome' class='temp'}}
  </footer>

</div>
 --}}


<div class='title-screen'>
  <div class='box one' {{action 'transitionToWelcome'}}>
    {{full-logo}}
  </div>
  <div class='box two' {{action 'transitionToWelcome'}}>
    {{full-logo}}
  </div>
  <div class='box three' {{action 'transitionToWelcome'}}>
    {{full-logo}}
  </div>
  <div class='box four' {{action 'transitionToWelcome'}}>
    {{full-logo}}
  </div>
</div>
