
<div class='background-image-full image-{{model.story.id}}'></div>
<div class='background-image-pattern image-{{model.story.id}}'></div>

{{noise-layer}}

<div class='center charge'>

  <div class='lego-house {{if showData 'active'}}'>

    <div class='chunk left one'></div>
    <div class='chunk left two'></div>
    <div class='chunk left three'></div>
    <div class='chunk left four'></div>
    <div class='chunk right five'></div>
    <div class='chunk right six'></div>
    <div class='chunk right seven'></div>
    <div class='chunk right eight'></div>

    <div class='crime-w'>

      <div class='crime'>
        <header class='heading'>
          <div class='number'>{{model.story.id}}</div>
          <div class='name'>The Crime</div>
        </header>
        <div class='charge'>
          <div class='timed one {{if showData 'active'}}'>
            {{model.story.charge.description}}
          </div>
        </div>
      </div>
      <footer class='stats'>
        <div class='location'>
          <span>Location</span>
          <div class='timed two {{if showData 'active'}}'>
            {{model.story.location}}
          </div>
        </div>
        <div class='priors'>
          <span>Priors</span>
          <div class='timed three {{if showData 'active'}}'>
            {{happy-bool model.story.charge.priors}}
          </div>
        </div>
      </footer>

      <section class='overview'>
        <p class='timed four {{if showData 'active'}}'>{{model.story.charge.overview}}</p>
      </section>

      {{#if model.story.charge.priors}}
        <section class='priors-story'>
          <p class='timed five {{if showData 'active'}}'>{{model.story.charge.priors}}</p>
        </section>
      {{/if}}

      <section class='prompt'>
        <p class='timed six {{if showData 'active'}}'>{{model.story.charge.prompt}}</p>
      </section>

    </div>

  </div>

  <div class='range-w'>
    {{ui-slider
      tooltip='always'
      classNames='range-slider'
      min=0
      ticks='0,5,10,15,20,25,30,35,40'
      ticksLabels='Fine,5,10,15,20,25,30,35,Life'
      max=model.story.charge.max
      step=model.story.charge.step
      value=selectedSentence
      changed='selectSentence'
    }}
  </div>

  <footer class='button-w {{if showData 'active'}}'>
    {{next-button action='transitionToSentence'}}
  </footer>

</div>
