
<div class='background-image-full'
  style='background-image: url("/images/stories/{{model.story.id}}/charge/left.png")'>
</div>
<div class='background-image-pattern'
  style='background-image: url("/images/stories/{{model.story.id}}/charge/right.png")'>
</div>
 
<div class='center charge'>

  <div class='lego-house'>

    <div class='chunk one'></div>
    <div class='chunk two'></div>
    <div class='chunk three'></div>
    <div class='chunk four'></div>
    <div class='chunk five'></div>
    <div class='chunk six'></div>

    <div class='crime-w'>

      <div class='crime'>
        <header class='heading'>
          <div class='number'>{{model.story.id}}</div>
          <div class='name'>The Crime</div>
        </header>
        <div class='charge'>
          {{model.story.charge.description}}
        </div>
      </div>
      <footer class='stats'>
        <div class='location'>
          <span>Location</span>
          {{model.story.location}}
        </div>
        <div class='priors'>
          <span>Priors</span>
          {{happy-bool model.story.charge.priors}}
        </div>
      </footer>

      <section class='overview'>
        <p>{{model.story.charge.overview}}</p>
      </section>

      {{#if model.story.charge.priors}}
        <section class='priors-story'>
          <p>{{model.story.charge.priors}}</p>
        </section>
      {{/if}}

      <section class='prompt'>
        <p>{{model.story.charge.prompt}}</p>
      </section>

    </div>

  </div>

  <div class='range-w'>
    {{ui-slider
      tooltip='always'
      classNames='range-slider'
      min=0
      ticks='0,5,10,15,20,25,30,35,40'
      ticksLabels='Fine,5,10,15,20,25,30,35,Life'
      max=model.story.charge.max
      step=model.story.charge.step
      value=selectedSentence
      changed='selectSentence'
    }}
  </div>

  {{#liquid-if valueSelected}}

    <footer class='button-w'>
      {{next-button action='transitionToSentence'}}
    </footer>

  {{/liquid-if}}

</div>
