
<div class="center">

  <div class='lego-house'>

    <div class='chunk one'></div>
    <div class='chunk two'></div>
    <div class='chunk three'></div>
    <div class='chunk four'></div>
    <div class='chunk five'></div>
    <div class='chunk six'></div>

    <div class='crime-w'>
      <div class='crime'>
        <header>
          <div class='number'>{{model.story.id}}</div>
          <div class='name'>The Crime</div>
        </header>
        <div class='charge'>
          {{model.story.charge.description}}
        </div>
      </div>
      <footer>
        <div class='location'>
          <span>Location</span>
          {{model.story.location}}
        </div>
        <div class='priors'>
          <span>Priors</span>
          {{happy-bool model.story.priors}}
        </div>
      </footer>

      <section class="overview">
        {{{model.story.charge.overview}}}
      </section>

      <section class='prompt'>
        <p>{{model.story.charge.prompt}}</p>
      </section>

    </div>

  </div>

  <div class='range-w'>
    {{ui-slider
      tooltip='always'
      classNames='range-slider'
      min=0
      max=model.story.charge.max
      step=model.story.charge.step
      value=model.selectedSentence
    }}
  </div>

  {{#liquid-if valueSelected}}

    <footer class='button-w'>
      {{next-button action='transitionToSentence'}}
    </footer>

  {{/liquid-if}}


</div>
