
<div class='background-image-full image-{{model.story.id}}'></div>
<div class='background-image-pattern image-{{model.story.id}}'></div>



{{noise-layer}}



<section class='container information'>
<div class='inner-w'>

  <div class='document {{if showData 'active'}}'>

    {{lego-block-edges}}

    <header>
      <div class='table'>
        <div class='number'>{{model.story.id}}</div>
        <div class='name'>The Crime</div>
        <div class='charge'>
          <div class='timed one {{if showData "active"}}'>
            {{model.story.charge.description}}
          </div>
        </div>
      </div>

      <div class='table'>
        <div class='location'>
          <span class='heading'>Location:</span>
          <div class='content timed two {{if showData "active"}}'>
            {{model.story.location}}
          </div>
        </div>
        <div class='priors'>
          <span class='heading'>Priors:</span>
          <div class='content timed three {{if showData "active"}}'>
            {{happy-bool model.story.charge.priors}}
          </div>
        </div>
      </div>

    </header>

    <section class='overview'>
      <p class='timed four {{if showData "active"}}'>{{model.story.charge.overview}}</p>
    </section>

    {{#if model.story.charge.priors}}
      <section class='priors-story'>
        <p class='timed five {{if showData "active"}}'>{{model.story.charge.priors}}</p>
      </section>
    {{/if}}

    <section class='prompt'>
      <p class='timed six {{if showData "active"}}'>{{model.story.charge.prompt}}</p>
    </section>

  </div>

</div>
</section>



<section class='container action-area range-area timed seven {{if showData "active"}}' >
<div class='inner-w'>

  <div class='range-w timed eight {{if showData "active"}}'>
    {{ui-slider
      tooltip='always'
      classNames='range-slider'
      min=0
      ticks='0,5,10,15,20,25,30,35,40'
      ticksLabels='Fine,5,10,15,20,25,30,35,Life'
      max=model.story.charge.max
      step=model.story.charge.step
      value=selectedSentence
      changed='selectSentence'
      formatter=qualitative
    }}
  </div>

  <div class='button-w timed nine {{if showData "active"}} '>
    {{next-button text='sentence' action='transitionToSentence' icon='true'}}
  </div>

</div>
</section>
