
{{!-- <div class='background-image-full image-{{model.story.id}}'></div>
<div class='background-image-pattern image-{{model.story.id}}'></div>

{{noise-layer}} --}}


<section class='container'>
<div class="inner-w">
  
  <div class='document eff'>
    <header>
      <div class='table'>
        <div class='number'>{{model.story.id}}</div>
        <div class='name'>Societal Effects:</div>
        <div class='charge'>
          {{model.story.effects.title}}
        </div>
      </div>
    </header>
  </div>


  <div class='crime-w'>

    <div class='story'>
      <ul class='fact-list'>
        {{#each model.story.effects.facts as |fact|}}
          <li>
            <h3 class='timed four {{if showData 'active'}}'>{{fact.visualNumber}}</h3>
            <p class='timed five {{if showData 'active'}}'>{{fact.copy}}</p>
          </li>
        {{/each}}
      </ul>
    </div>

  </div>

  <footer class='below-lego-house {{if showData 'active'}}'>
    {{#if nextStoryExists}}
      {{next-button action='transitionToNextStory'}}
    {{else}}
      {{next-button text='finish' action='transitionToConclusion'}}
    {{/if}}
  </footer>

</div>
</section>


{{!-- <div class='center effects'>

  <div class='lego-house {{if showData 'active'}}'>

    <div class='chunk left one'></div>
    <div class='chunk left two'></div>
    <div class='chunk left three'></div>
    <div class='chunk left four'></div>
    <div class='chunk right five'></div>
    <div class='chunk right six'></div>
    <div class='chunk right seven'></div>
    <div class='chunk right eight'></div>

  </div>

</div>
 --}}