
<div class='center effects'>

  <div class='lego-house'>

    <div class='chunk one'></div>
    <div class='chunk two'></div>
    <div class='chunk three'></div>
    <div class='chunk four'></div>
    <div class='chunk five'></div>
    <div class='chunk six'></div>

    <div class='crime-w'>

      <div class='crime eff'>
        <header class='heading'>
          <div class='number'>{{model.story.id}}</div>
          <div class='name'>The Effects</div>
        </header>
      </div>

      <div class='title'>
        <p>{{model.story.effects.title}}</p>
      </div>

      <div class='story'>
        <ul class='fact-list'>
          {{#each model.story.effects.facts as |fact|}}
            <li>
              <h3>{{fact.visualNumber}}</h3>
              <p>{{fact.copy}}</p>
            </li>
          {{/each}}
        </ul>
      </div>

    </div>

  </div>

  {{#if nextStoryExists}}
    {{next-button action='transitionToNextStory'}}
  {{else}}
    {{next-button text='finish' action='transitionToConclusion'}}
  {{/if}}

</div>
