
<div class='background-image-full image-{{model.story.id}}'></div>
<div class='background-image-pattern image-{{model.story.id}}'></div>



{{noise-layer}}



<section class='container information'>
<div class='inner-w'>

  <div class='document eff {{if showData "active"}}'>

    {{lego-block-edges}}

    <header>
      <div class='table'>
        <div class='number'>{{model.story.id}}</div>
        <div class='name'>Societal Effects:</div>
        <div class='charge'>
          <span class='timed three {{if showData 'active'}}' >
            {{model.story.effects.title}}
          </span>
        </div>
      </div>
    </header>

    <div class='story'>
      <ul class='fact-list'>
        {{#each model.story.effects.facts as |fact|}}
          <li>
            <h3 class='timed four {{if showData 'active'}}'>{{fact.visualNumber}}</h3>
            <p class='timed five {{if showData 'active'}}'>{{fact.copy}}</p>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>

</div>
</section>



<section class='container action-area'>
<div class='inner-w'>

  <footer class='button-w timed six {{if showData 'active'}}'>
    {{#if nextStoryExists}}
      {{next-button action='transitionToNextStory'}}
    {{else}}
      <a href='http://justicefor.us' class='next-button'>
        <span>Finish</span>
      </a>
    {{/if}}
  </footer>

</div>
</section>
