
<div class='background-image-full'
  style='background-image: url("/images/stories/{{model.story.id}}/right.png")'>
</div>
<div class='background-image-pattern'
  style='background-image: url("/images/stories/{{model.story.id}}/left.jpg")'>
</div>

{{noise-layer}}

<div class='center sentence'>

  <div class='lego-house {{if showData 'active'}}'>

    <div class='chunk one'></div>
    <div class='chunk two'></div>
    <div class='chunk three'></div>
    <div class='chunk four'></div>
    <div class='chunk five'></div>
    <div class='chunk six'></div>

    <div class='crime-w'>

      <div class='crime'>
        <header class='heading'>
          <div class='number'>{{model.story.id}}</div>
          <div class='name'>The Sentence</div>
        </header>
        <div class='headline'>
          <div class='timed one {{if showData 'active'}}'>
            {{model.story.sentence.headline}}
          </div>
        </div>
      </div>
      <footer class='stats'>
        <div class='actual'>
          <span>Actual Sentence</span>
          <h2>
            <div class='timed two {{if showData 'active'}}'>
              {{number-animator startValue=selectedSentence endValue=model.story.sentence.shortTime}}
            </div>
          </h2>
        </div>
        <div class='your'>
          <span>Your Sentence</span>
          <h2>
            <div class='timed three {{if showData 'active'}}'>
              {{selectedSentence}}
            </div>
          </h2>
        </div>
        {{!-- Maybe this? --}}
        {{!-- <div class='your'>
          <span>Difference</span>
          <h2>{{difference model.story.sentence.shortTime model.selectedSentence}}</h2>
        </div> --}}
      </footer>

      <div class='story'>
        <p class='timed four {{if showData 'active'}}'>{{model.story.sentence.story}}</p>
      </div>

      <div class='back-story'>
        <p class='timed five {{if showData 'active'}}'>{{model.story.sentence.backStory}}</p>
      </div>

    </div>

  </div>

  <footer class='below-lego-house {{if showData 'active'}}'>
    {{next-button action='transitionToEffects'}}
  </footer>

</div>
