{{!-- 
<div class='background-image-full image-{{model.story.id}}'></div>
<div class='background-image-pattern image-{{model.story.id}}'></div> --}}

{{!-- {{noise-layer}} --}}

<section class="container">
<div class="inner-w">
  
  <div class='document'>

    <header>
      <div class='table'>
        <div class='number'>{{model.story.id}}</div>
        <div class='name'>The Sentence:</div>
        <div class="charge">
          <div class='timed one {{if showData 'active'}}'>
            {{model.story.sentence.headline}}
          </div>
        </div>
      </div>

      <div class='table'>
        <div class='actual'>
          <div class='heading'>Actual Sentence:</div>
          <div class='content timed two {{if showData 'active'}}'>
            <div class='outcome'>{{number-animator startValue=selectedSentence endValue=model.story.sentence.shortTime}}</div>
          </div>
        </div>
        <div class='your'>
          <div class='heading'>Your Sentence:</div>
          <div class='content timed three {{if showData 'active'}}'>
            <span class='outcome'>{{selectedSentence}}</span>
            <span class="years-text">years</span>
          </div>
        </div>
      </div>
    </header>

    <div class='story'>
      <p class='timed four {{if showData 'active'}}'>{{model.story.sentence.story}}</p>
    </div>

    <div class='back-story'>
      <p class='timed five {{if showData 'active'}}'>{{model.story.sentence.backStory}}</p>
    </div>

  </div>


  <footer class='below-lego-house {{if showData 'active'}}'>
    {{next-button action='transitionToEffects'}}
  </footer>


</div>
</section>



{{!-- <div class='center sentence'>

  <div class='lego-house {{if showData 'active'}}'>

    <div class='chunk left one'></div>
    <div class='chunk left two'></div>
    <div class='chunk left three'></div>
    <div class='chunk left four'></div>
    <div class='chunk right five'></div>
    <div class='chunk right six'></div>
    <div class='chunk right seven'></div>
    <div class='chunk right eight'></div>
  </div>

</div> --}}
