
<div class='background-image-full image-{{model.story.id}}'></div>
<div class='background-image-pattern image-{{model.story.id}}'></div>



{{noise-layer}}



<section class="container">
<div class="inner-w">

  <div class='document {{if showData 'active'}}'>

    {{lego-block-edges}}

    <header>
      <div class='table'>
        <div class='number'>{{model.story.id}}</div>
        <div class='name'>The Sentence:</div>
        <div class="charge">
          <div class='timed one {{if showData 'active'}}'>
            {{model.story.sentence.headline}}
          </div>
        </div>
      </div>

      <div class='table'>
        <div class='actual'>
          <div class='heading'>Actual Sentence:</div>
          <div class='content timed two {{if showData 'active'}}'>
            <div class='outcome'>{{number-animator startValue=selectedSentence endValue=model.story.sentence.shortTime}}</div>
          </div>
        </div>
        <div class='your'>
          <div class='heading'>Your Sentence:</div>
          <div class='content timed three {{if showData 'active'}}'>
            <span class='outcome'>{{selectedSentence}}</span>
            <span class="years-text">years</span>
          </div>
        </div>
      </div>
    </header>

    <div class='story'>
      <p class='timed four {{if showData 'active'}}'>{{model.story.sentence.story}}</p>
    </div>

    <div class='back-story'>
      <p class='timed five {{if showData 'active'}}'>{{model.story.sentence.backStory}}</p>
    </div>

  </div>

</div>
</section>



<section class='container action-area'>
<div class='inner-w'>

  <div class='button-w timed six {{if showData 'active'}}'>
    {{next-button action='transitionToEffects'}}
  </div>

</div>
</section>
