
{{ember-load-remover}}

<div class='outfield'>

  <div class='justice-wrapper'>
{{!--     <div class='background-image-full'></div>
    <div class='background-image-pattern'></div> --}}
    {{noise-layer}}

    <div class='application-outlet'>
      {{liquid-outlet}}
    </div>
  </div>

</div>

{{#each stories as |story|}}
  {{#each types as |type|}}
    {{#each sides as |side|}}
      <img class='visually-hidden' src="/images/stories/{{story}}/{{type}}/{{side}}.png" alt="">
    {{/each}}
  {{/each}}
{{/each}}
