
{{ember-load-remover}}

<div class='outfield'>

  <div class='justice-wrapper'>
{{!--     <div class='background-image-full'></div>
    <div class='background-image-pattern'></div> --}}
    {{!-- {{noise-layer}} --}}

    <div class='application-outlet'>
      {{liquid-outlet}}
    </div>
  </div>

</div>

{{!-- hacky preload  --}}
{{#each stories as |story|}}
  <img class='visually-hidden' src="/images/stories/{{story}}/left.jpg" alt="">
  <img class='visually-hidden' src="/images/stories/{{story}}/right.png" alt="">
{{/each}}
