
{{ember-load-remover}}

<div class='outfield'>

  <div class='justice-wrapper'>
{{!--     <div class='background-image-full'></div>
    <div class='background-image-pattern'></div> --}}
    {{!-- {{noise-layer}} --}}

    <div class='application-outlet'>
      {{liquid-outlet}}
    </div>
  </div>

</div>

{{!-- hacky preload  --}}
{{#each stories as |story|}}
  <img class='visually-hidden' src="/images/stories/{{story}}/left.jpg" alt="">
  <img class='visually-hidden' src="/images/stories/{{story}}/right.png" alt="">
{{/each}}


<div class="cover too-small">
  <h2>This experience is optimized for tablet-sized screens. Please visit <a href="http://www.justicefor.us">http://www.justicefor.us</a> for more.</h2>
</div>

<div class="cover rotate">
  <h2>Please rotate your device</h2>
</div>
