
{{svg-icon-sprite}}

{{ember-load-remover}}

<div class='application-outlet'>
  {{outlet class='butt'}}
</div>

{{!-- hacky preload // $todo - should be reassessed --}}
{{#each stories as |story|}}
  <img class='visually-hidden' src='/images/stories/{{story}}/left.jpg' alt='Decorative background image'>
  <img class='visually-hidden' src='/images/stories/{{story}}/right.png' alt='Decorative background image'>
{{/each}}
