
<div class='title-blocks'>
  <div class='block left one'></div>
  <div class='block left two'></div>
  <div class='block left three'></div>
  <div class='block left four'></div>
  <div class='block left five'></div>
  <div class='block right six'></div>
  <div class='block right seven'></div>
  <div class='block right eight'></div>
  <div class='block right nine'></div>
  <div class='block right ten'></div>
</div>

{{full-logo class='page-logo'}}

<div class='center page title-outlet'>
  {{liquid-outlet}}
</div>

{{!-- <div class='title-screen'>
  <div class='box one'>
    {{full-logo}}
  </div>
  <div class='box two'>
    {{full-logo}}
  </div>
  {{#link-to 'title.welcome' class='box three'}}
    {{full-logo}}
  {{/link-to}}
  <div class='box four'>
    {{full-logo}}
  </div>
</div> --}}
